footer {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}
.leftLogo  {
    display: flex;
    flex-direction: column;
    margin-left: 0%;
}

.leftLogo img {
    max-width: 20vw;
    margin: 20px 20px 20px 30%;

}
.leftLogo span {
    color:black;
    margin: 5px 20px 20px 100px;
}
.rightFoot {
    max-width:50vw;
}
.rightFoot img {
    max-width: 90vw;
    margin-top:100px;
  
}
.rightFootNav {
    display: flex;
}
.rightFootNav a {
    color:black;
    border:.5px solid black;
    margin-top:10px;
    
}

@media only screen and (min-width: 600px) {

    .leftLogo {
        display: flex;
        flex-direction: column;
    }
    .leftLogo img  {
        max-width: 50px;
    
    }

    footer {
        display:grid;
        grid-template-columns: 50vw 50vw;
    }

    .rightFoot img {
        max-width:50vw;
    }
    

}
