footer.leftLogo {
    width:60px;
}

footer p, h1 {
    width: 100vw;
    color: black;
    font-size: 20px;
  }
  
  footer .rightLogo {
    position: absolute;
    width: 30vh;
    right:0;
  }
  
  footer a {
    color: black;
    font-size: 15px;
  }
  