footer {
  position: relative;
  height:100px;
  width: 100%;
}

footer .leftLogo {
    display: flex;
    position: relative;
    margin-left:100px;
    align-items: center;
    
}
footer .leftLogo img{
  align-items: center;
  max-width:20vw;
}
footer .leftLogo p{
  position:absolute;
  margin-top:200px;
  font-size: calc(16px + 16 * ((100vw - 568px) / (768 - 568)))
  
}
footer .rightFoot {
  display:flex;
  position: absolute;
  right:100px;
  bottom:5px;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
}
footer .rightFoot img{
  width:calc(300px + 6 * ((100vw - 600px) / 680))
  
}
footer p, h1 {
    width: 100vw;
    color: black;
    font-size: 20px;
}

footer a {
    color: black;
    font-size: 15px;
  }
  