#section3 {
    background-image: url("../assets/beach2.jpg");
    height: 100vh;
    width:100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#section3.intro {
    padding:10px;
    
}
#section3 img.right, img.left {
    position: relative;
    width:90px;
    height:90px;
    z-index:22;
}

#section3 img.left {
    transform: rotate(-180deg);
    -ms-transform: rotate(-180deg); 
    -webkit-transform: rotate(-180deg);
}
